<html>

<head>
    <tite>Home</tite>
</head>

<body>
    <h1>hey</h1>
    <% sessions2.forEach(function(post) {      %>
        <h1>
            <% post.name %>
        </h1>
        <h1>
            <% post.address %>
        </h1>
        <h1>
            <% post.from %>
        </h1>
        <h1>
            <% post.to %>
        </h1>
        <h1>
            <% post.fee_type %>
        </h1>
        <h1>
            <% post.date %>
        </h1>
        <h1>
            <% post.available_capacity_dose1 %>
        </h1>
        <h1>
            <% post.available_capacity_dose1 %>
        </h1>
        <h1>
            <% post.min_age_limit %>
        </h1>
        <h1>
            <% post.slots %>
        </h1>
        <%      }) %>
</body>

</html>